# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
env/
*.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# AI / API keys
*.key
*.env

# Images / Audio
*.png
*.jpg
*.jpeg
*.wav
*.mp3

